body {
  margin:0;
  font-family: 'Lato', sans-serif;
  background: #ffffff;
  color: #6d6d6d;
  font-size: .9em;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
  border-radius: 5px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 1em 0;
  font-family: 'Anton', sans-serif;
  font-weight: initial;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 6px 1px #888888;
}

p {
  margin: 0;
  padding: 1em 0;
}

a,
a:hover,
a:visited {
  color: white;
}

.nav {
  position: block;
  background: #222;
  width: 100%;
  z-index: 500;
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  justify-content: center;
  font-family: 'Anton', sans-serif;
}

.nav a {
  color: #999;
  position: relative;
  justify-content;
  z-index: 500;
  text-decoration: none;
  padding: 1.5em 0;
}

.nav a:hover {
  background: white;
  color: #999;
}

.nav a:visited{
  color: #999;
  z-index: 500;
}

.pictureGrid {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-gap: 1em;
}
.pictureGrid img {
  transition: .2s;
  box-sizing: border-box;
  border: 8px solid white;
  box-shadow: -2px 3.5px 20px 1px #a5a5a5;
}
.pictureGrid img:hover {
  box-shadow: -2px 3.5px 60px 4px #a5a5a5;
  transform: scale(1.1);
  transition: .2s;
}

#section-1art{
  padding: 1em;
}

#footer {
  display: grid;
  padding: 2em;
  background: #222222;
  color: #bfbfbf;
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 4;
}

#footer a {
  text-decoration: none;
  color: #e29207;
}

@media(min-width: 640px) {
  .pictureGrid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 2em;
  }
}

@media(min-width: 730px) {

  .pictureGrid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 2em;
  }

  #section-1art{
    padding: 2em;
  }

  .sideNav {
    position: fixed;
    top: -100;
    background: #222;
    width: 100%;
    transition: height .7s;
    z-index: 500;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    justify-content: center;
  }

  .sideNav a {
    color: #999;
    position: relative;
    justify-content;
    z-index: 500;
    text-decoration: none;
    transition: .7s;
  }

  .sideNav a:visited{
    color: #999;
    z-index: 500;
  }

  #footer {
    grid-template-columns: 1fr 1fr;
  }

}

@media(min-width: 1000px) {

  .pictureGrid {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    grid-gap: 2em;
  }

  .sideNav {
    position: fixed;
    top: -100;
    background: #222;
    width: 100%;
    transition: height 1s;
    z-index: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sideNav a {
    color: #999;
    position: relative;
    justify-content;
    z-index: 500;
    text-decoration: none;
    transition: 1s;
  }

  .sideNav a:visited{
    color: #999;
    z-index: 500;
  }

}

@media(min-width: 1400px) {

  .pictureGrid {
    grid-template-columns: repeat(7, 1fr);
    display: grid;
    grid-gap: 2em;
  }

}
