body {
  margin:0;
  font-family: 'Lato', sans-serif;
  background: #ffffff;
  color: #6d6d6d;
  font-size: .9em;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
  border-radius: 5px;
  transition: .3s;
}

h1, h4 {
  box-shadow: 0px 0px 6px 1px #888888;
}
h1, h2, h3, h4{
  margin: 0;
  padding: 1em 0;
  font-family: 'Anton', sans-serif;
  font-weight: initial;
  letter-spacing: 1.5px;
}
p {
  margin: 0;
  padding: 1em 0;
}

a,
a:hover,
a:visited {
  color: white;
}

.nav {
  position: block;
  background: #222;
  width: 100%;
  z-index: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  font-family: 'Anton', sans-serif;
}
.nav a {
  color: #999;
  position: relative;
  justify-content;
  z-index: 500;
  text-decoration: none;
  padding: 1.5em 0;
}

.nav a:hover {
  background: white;
  color: #999;
}

.nav a:visited{
  color: #999;
  z-index: 500;
}

#section-1 {
  background: white;
  padding: 2em;
}

.cs1, .cs2 {
  padding-top: 2.5em;
}
.cs1 img:hover, .cs2 img:hover {
  transform: scale(1.08);
  transition: .3s;
}
.cs1info, .cs2info {
  border-bottom: 1px solid #555;
}
.cs1info h3 {
  color: #fd3600;
}
.cs2info h3 {
  color: #1baa9b;
}

#footer {
  display: grid;
  padding: 2em;
  background: #222222;
  color: #bfbfbf;
  text-align: center;
  grid-row-start: 3;
  grid-row-end: 4;
}

#footer a {
  text-decoration: none;
  color: #3f89ff;
}

@media(min-width: 600px) {

  #section-1 {
    grid-template-rows: .5fr 1fr .5fr .5fr;
    grid-gap: 1em;
  }
  #section-1 h2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .cs1 {
    grid-column: 2/3;
    grid-row: 2/3
  }
  .cs2 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .cs1info {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    padding: 0;
    border-bottom: 0px solid white;
  }
  .cs2info {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    padding: 0;
    border-bottom: 0px solid white;
  }

  #footer div, .box {
    grid-column: span 2;
  }
}

@media(min-width: 730px) {

  .nav {
    grid-template-columns: 180px 180px 180px 180px;
  }

}

@media(min-width: 750px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr; /* Can use %, em's, px's, fr's */
  }

  #section-1 {
    padding: 5em 0;
  }

  #section-1 h2 {
    grid-column: 2/4;
  }

  #section-1 ul {
    display: flex; /* Aligns the cards on the same row, like floating them all left or like inline-block */
    justify-content: space-around;
    padding: 3.5em 0;
    grid-column: 2/4;
  }

  #section-1 li {
    width: 40%;
  }

  #section-1 p {
    padding: .1em 1em;
    letter-spacing: -.03em;
  }

  .sideNav {
    grid-column: 1/2;
    position: fixed;
    top: -10000px;
    background: #222;
    width: 100%;
    transition: height .7s;
    z-index: 500;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    justify-content: center;
  }

  .sideNav a {
    color: #999;
    position: fixed;
    position: relative;
    transition: .7s;
    padding-top: 18px;
    z-index: 500;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
  }

  .sideNav a:visited{
    color: #999;
    z-index: 500;
  }

  .card:hover {
    border-radius: 10px;
  }
}

@media(min-width: 1050px) {

  #section-1 {
    padding: 5em 0;
    grid-gap: 2.5em;
    grid-template-rows: 1fr 4fr 4fr 1fr;
  }

  #section-1 h2 {
    grid-column: 2/4;
  }

  .cs1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .cs2 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .cs1info {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 2.5em;
    padding-right: 5em;
    border-bottom: 0px solid white;
  }
  .cs2info {
    grid-column: 2/3;
    padding-top: 2.5em;
    padding-left: 5em;
    border-bottom: 0px solid white;
  }
  .cs1info p, .cs2info p {
    text-align: left;
  }
}
