body {
  margin:0;
  padding: 0;
  background: white;
  font-size: 1.1em;
  line-height: 1.8;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  max-height: 100%;
}
h1 {
  font-family: 'Anton', sans-serif;
  color: #00316b;
  margin: 0;
  font-size: 2em;
  letter-spacing: 3px;
  font-weight: 400;
}
h2, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
  color: #00316b;
  margin: 0;
  letter-spacing: 3px;
}
img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
}
p {
  margin: 0;
  padding: 1em 0;
}

a,
a:hover,
a:visited {
  color: white;
}

nav {
  width: 100%;
  background: #00316b;
  position: fixed;
  z-index: 1000;
  transition: .4s;
}
ul {
  margin: 0 auto;
  padding: 0;
  display: none;
  text-align: right;
}
ul li {
  list-style: none;
  display: block;
  text-align: center;
  height: 71px;
  line-height: 71px;
  background: #00316b;
  }
ul li a {
  text-decoration: none;
  color: #fff;
  font-size: .9em;
  padding: 30px 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
}
ul li:hover {
  background: #006ba3;
  /*background: #e91e63;*/
}
.toggle {
  display: block;
  width: 100%;
  padding: 22.5px 20px;
  background: #00316b;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5em;
  transition: .4s;
}
.fa-bars {
}
.fa-bars:hover {
  color: #006ba3;
}
.active {
  display: block;
}
.notActive {
  display: none;
}

/*GOOGLE FORM*/
iframe {
  width: 100%;
  height: 831px;
}

/*CONTACT FORM*/
#section-1 {
  display: grid;
  grid-template-rows: .1fr .3fr .1fr;
  padding-top: 7em;
}
#section-1 h1 {
  font-family: 'Anton', sans-serif;
  font-size: 3em;
  color: #333;
  letter-spacing: .2em;
  grid-row: 1/2;
  padding-bottom: 1em;
}
.formgrid {
  grid-column: 1/2;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 330px 1fr;
  grid-template-rows: 70px 70px 70px 70px 220px 70px;
}
input, textarea {
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid gray;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  line-height: 1.5;
  border-radius: 10px;
}
.emailinput {
  grid-column: 2/3;
  grid-row: 1/2;
}
.phonenumberinput {
  grid-column: 2/3;
  grid-row: 2/3;
}
.firstnameinput {
  grid-column: 2/3;
  grid-row: 3/4;
}
.lastnameinput {
  grid-column: 2/3;
  grid-row: 4/5;
}
.messageinput {
  grid-column: 2/3;
  grid-row: 5/6;
}
.submitinput {
  grid-column: 2/3;
  grid-row: 6/7;
  background: #3f89ff;
  color: white;
  box-shadow: -2px 3.5px 60px 4px #a5a5a5;
  transition: .1s;
}
.submitinput:hover {
  box-shadow: -2px 3.5px 20px 1px #a5a5a5;
  transition: .1s;
  transform: scale(.95);
}
.emailinput:hover, .phonenumberinput:hover, .firstnameinput:hover,
 .lastnameinput:hover, .messageinput:hover {
  background: #d8d8d8;
}
.emailinput:focus, .phonenumberinput:focus, .firstnameinput:focus,
.lastnameinput:focus, .messageinput:focus {
  background: #d8d8d8;
}
.emailinput:focus::-webkit-input-placeholder,
.phonenumberinput:focus::-webkit-input-placeholder,
.firstnameinput:focus::-webkit-input-placeholder,
.lastnameinput:focus::-webkit-input-placeholder,
.messageinput:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}

.myInfo {
  display: grid;
  grid-template-columns: 1fr 55px 245px 1fr;
  grid-template-rows: 80px 80px 80px 260px 80px;
  grid-row: 3/4;
  text-align: left;
}
.fa-map-marker-alt {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 2em;
}
.myLocation {
  grid-column: 3/4;
  grid-row: 1/2;
  font-size: 1.2em;
}
.fa-envelope {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 2em;
}
.myEmail {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 1.2em;
}
.fa-phone {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 2em;
}
.myNumber {
  grid-column: 3/4;
  grid-row: 3/4;
  font-size: 1.2em;
}
.myInfo p {
  grid-column: 2/4;
  grid-row: 4/5;
  font-size: 1.2em;
  padding: 0;
}
.medias {
  grid-column: 2/4;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: 130px 130px 50px;
}
i {
  color: #3f89ff;
}
.medias i:hover {
  color: #013987;
}
.github {
  font-size: 2em;
}
.ig {
  font-size: 2em;
}
.linkedin {
  font-size: 2em;
}

/*THANK YOU DIV*/
.thankyou {
  display: none;
  width: 320px;
  height: 135px;
  background: #333;
  color: white;
  position: relative;
  top: -270px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: -2px 3.5px 60px 4px #a5a5a5;
}
/*THANK YOU BUTTON*/
.okay {
  .background: white;
  color: #333;
  padding: 5px 15px;
  position: relative;
  top: 20px;
}

#footer {
  grid-row: 3/4;
  display: grid;
  padding: 2em;
  background: #006ba3;
  color: #bfbfbf;
  text-align: center;
  position:
}
#footer a {
  text-decoration: none;
  color: #00316b;
}

@media (min-width: 600px) {

  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #footer div {
    font-size: .9em;
  }
  #footer div:first-child {
    grid-column: 1/2;
  }

}

@media (min-width: 736px) {
  nav {
    /*align-items: center;
    text-align: center;
    justify-content: center;*/
  }
  ul {
    display: inline-block;
    float: right;
    padding-right: 150px;
  }
  ul li {
    display: inline-block;
    background: none;
  }
  .toggle {
    display: none;
  }
}

@media(min-width: 850px) {

  #section-1 {
    grid-template-columns: 1fr 330px 330px 1fr;
    grid-column-gap: 2em;
  }
  #section-1 h1 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .formgrid {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .myInfo {
    grid-column: 3/4;
    grid-row: 2/3;
    grid-template-rows: 90px 75px 75px 230px 75px;
  }
  .medias {
    padding-top: 2em;
  }

  #footer {
    grid-template-columns: 1fr 1fr;
  }

}
