
html {
  height: 100%:
}

body {
  margin:0;
  font-family: 'Lato', sans-serif;
  background: #ffffff;
  color: #6d6d6d;
  font-size: .9em;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
  border-radius: 5px;
}

h2, h3, h4 {
  margin: 0;
  padding: 1em 0;
  font-family: 'Anton', sans-serif;
  font-weight: initial;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 6px 1px #888888;
}

p {
  margin: 0;
  padding: 1em 0;
}

a,
a:hover,
a:visited {
  color: white;
}

/*NAVIGATION BAR*/
.nav {
  position: block;
  background: #222;
  width: 100%;
  z-index: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: 'Anton', sans-serif;
}
.nav a {
  color: #999;
  position: relative;
  justify-content;
  z-index: 500;
  text-decoration: none;
  padding: 1.5em 0;
}
.nav a:hover {
  background: white;
  color: #999;
}
.nav a:visited{
  color: #999;
  z-index: 500;
}

/*GOOGLE FORM*/
iframe {
  width: 100%;
  height: 831px;
}

/*CONTACT FORM*/
#section-1 {
  padding-top: 50px;
}
#section-1 h1 {
  text-align: center;
}
#formgrid {
  display: grid;
  grid-template-columns: 1fr 330px 1fr;
  grid-template-rows: .5fr .5fr .5fr 2fr .5fr;
}
input, textarea {
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid gray;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  line-height: 1.5;
  border-radius: 25px;
}
.emailinput {
  grid-column: 2/3;
  grid-row: 1/2;
}
.firstnameinput {
  grid-column: 2/3;
  grid-row: 2/3;
}
.lastnameinput {
  grid-column: 2/3;
  grid-row: 3/4;
}
.messageinput {
  grid-column: 2/3;
  grid-row: 4/5;
}
.emailinput:hover, .firstnameinput:hover,
 .lastnameinput:hover, .messageinput:hover {
  background: #d8d8d8;
}
.emailinput:focus, .firstnameinput:focus,
.lastnameinput:focus, .messageinput:focus {
  background: #d8d8d8;
}
.emailinput:focus::-webkit-input-placeholder,
.firstnameinput:focus::-webkit-input-placeholder,
.lastnameinput:focus::-webkit-input-placeholder,
.messageinput:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
.submitinput {
  grid-column: 2/3;
  grid-row: 5/6;
  background: #333;
  color: white;
  box-shadow: -2px 3.5px 60px 4px #a5a5a5;
  transition: .1s;
}
.submitinput:hover {
  box-shadow: -2px 3.5px 20px 1px #a5a5a5;
  transition: .1s;
  transform: scale(.95);
}


/*THANK YOU DIV*/
.thankyou {
  display: none;
  width: 320px;
  height: 135px;
  background: #333;
  color: white;
  position: relative;
  top: -270px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: -2px 3.5px 60px 4px #a5a5a5;
}
/*THANK YOU BUTTON*/
.okay {
  .background: white;
  color: #333;
  padding: 5px 15px;
}

#footer {
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  padding: 2em;
  background: #222222;
  color: #bfbfbf;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

#footer a {
  text-decoration: none;
  color: #e29207;
}
