
html {
  height: 100%:
}

body {
  margin:0;
  font-family: 'Lato', sans-serif;
  background: #ffffff;
  color: #6d6d6d;
  font-size: .9em;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
  border-radius: 5px;
}

h2, h3, h4 {
  margin: 0;
  padding: 1em 0;
  font-family: 'Anton', sans-serif;
  font-weight: initial;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 6px 1px #888888;
}

p {
  margin: 0;
  padding: 1em 0;
}

a,
a:hover,
a:visited {
  color: white;
}

.nav {
  position: block;
  background: #222;
  width: 100%;
  z-index: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: 'Anton', sans-serif;
}

.nav a {
  color: #999;
  position: relative;
  justify-content;
  z-index: 500;
  text-decoration: none;
  padding: 1.5em 0;
}

.nav a:hover {
  background: white;
  color: #999;
}

.nav a:visited{
  color: #999;
  z-index: 500;
}

iframe {
  width: 100%;
  height: 831px;
}

#section-1 {
  padding-top: 100px;
}
#section-1 h1 {
  text-align: center;
}
.formgrid {
  display: grid;
  grid-template-columns: 1fr 330px 1fr;
  grid-template-rows: .5fr .5fr .5fr 2fr .5fr;
}
input, textarea {
  padding: 12px;
  margin-bottom: 25px;
  border: 1px solid gray;
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  line-height: 1.5;
}

.emailinput {
  grid-column: 2/3;
  grid-row: 1/2;
}
.emailinput:hover {
  background: #d8d8d8;
}
.emailinput:focus {
  background: #d8d8d8;
}
.emailinput:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
.firstnameinput {
  grid-column: 2/3;
  grid-row: 2/3;
}
.firstnameinput:hover {
  background: #d8d8d8;
}
.firstnameinput:focus {
  background: #d8d8d8;
}
.firstnameinput:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
.lastnameinput {
  grid-column: 2/3;
  grid-row: 3/4;
}
.lastnameinput:hover {
  background: #d8d8d8;
}
.lastnameinput:focus {
  background: #d8d8d8;
}
.lastnameinput:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
.messageinput {
  grid-column: 2/3;
  grid-row: 4/5;
}
.messageinput:hover {
  background: #d8d8d8;
}
.messageinput:focus {
  background: #d8d8d8;
}
.messageinput:focus::-webkit-input-placeholder { /* WebKit browsers */
    color: transparent;
}
.submitinput {
  grid-column: 2/3;
  grid-row: 5/6;
  background: #333;
  color: white;
  box-shadow: 0px 2px 20px -1px rgba(69,69,69,1);
  transition: .1s;
}
.submitinput:hover {
  box-shadow: 0px 1px 4px 1px rgba(71,71,71,1);
  transition: .1s;
  transform: scale(.95);
}

#footer {
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  padding: 2em;
  background: #222222;
  color: #bfbfbf;
  text-align: center;
  grid-template-columns: 1fr 1fr;
}

#footer a {
  text-decoration: none;
  color: #e29207;
}
