body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #6d6d6d;
  font-size: .95em;
  line-height: 2;
  text-align: center;
  overflow-x: hidden;
}

main {
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 1em 1em 2em 1em;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

div, p {
  margin: 0;
}

p {
  padding: 1em;
}

a,
a:hover,
a:visited {
  color: #777;
}

.nav {
  position: block;
  background: #222;
  width: 100%;
  z-index: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav a {
  color: #999;
  position: relative;
  justify-content;
  z-index: 500;
  text-decoration: none;
  padding: 1.5em 0;
}

.nav a:hover {
  background: white;
  color: #999;
}

.nav a:visited{
  color: #999;
  z-index: 500;
}

#section-0, #section-1, #section-2, #section-3, #section-3a, #section-4, #section-4a, #section-5 {
  padding: 2em 1em;
}

.section-1and2Grid {
  background: #222222;
  color: #999;
}

#section-3 div {
  justify-self: center;
}

#section-0 img, #section-3 img, #section-3a img {
  box-shadow: 0px 0px 6px 1px #888888;
}

#section-4, #section-4a {
  background: #222222;
  color: #999999;
}

#section-3a p {
  padding-bottom: 3em;
}

#section-4a p {
  padding-bottom: 3em;
}

#section-3a div {
  padding-bottom: 2em;
}

#section-4a div {
  padding-bottom: 1em;
}

#section-4 p {
  padding-top: 0;
}

.pictureGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* could do repeat(3, 1fr 2fr); and it would make 3 column containing the 1fr and 2fr*/
  grid-gap: .5em;
}

.researchPicGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .5em;
}

.personaPic img{
  padding-bottom: 1em;
}

#section-2 ul {
  text-align: left;
}

#section-6 {
  background: #222222;
  color: white;
}

#section-6 a {
  text-decoration: none;
}

#section-6 a:hover {
  background: white;
  color: black;
  text-decoration: none;
  }

  .lastnextbtn {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .lastnextbtn a {
    padding: 1em 0;
  }

/* Footer */
#footer {
  padding: 2em;
  background: #222;
  color: #bfbfbf;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: #e29207;
}

@media(min-width: 500px) {

  .personaPic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2/4;
    grid-column-gap: .5em;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* could do repeat(3, 1fr 2fr); and it would make 3 column containing the 1fr and 2fr*/
    padding: 1em;
  }

  .pictureGrid a {
    justify-self: end;
  }
}

@media(min-width: 775px) {

  .researchPicGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;
    padding-top: 2em;
  }

  .sideNav {
    position: fixed;
    top: -100;
    background: #222222;
    width: 100%;
    transition: height 1s;
    z-index: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sideNav a {
    position: relative;
    justify-content;
    z-index: 500;
    text-decoration: none;
    transition: 1s;
    color: #777;
  }

  .sideNav a:visited{
    z-index: 500;
  }

  .sideNav a:hover{
    color: white;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 12fr 12fr 1fr;
    grid-column-gap: 1em;
  }

  #section-0 h2 {
    grid-column: span 4;
  }

  #section-0 a {
    grid-column: span 2/4;
    padding: 3em 2em;
  }

  #section-0 p {
    grid-column: span 2/4;
    padding: 5em 0;
  }

  .section-1and2Grid {
    display: grid;
    grid-template-columns: 1fr 12fr 12fr 1fr;
  }

  #section-1 {
    grid-column: 2/3;
  }

  #section-2 {
    grid-column: 3/4;
  }

  #section-2 p, #section-2 ul {
    text-align: left;
  }

  #section-3 h2, #section-4 h2, #section-5 h2 {
    grid-column: span 4;
  }

  #section-3 p, #section-4 p, #section-5 p {
    text-align: left;
  }

  #section-3 p {
    grid-column: 3/4;
  }

  #section-3 h3 {
    grid-column: span 4;
    padding-top: 1em;
  }

  #section-3 div {
    grid-column: 2/3;
  }

  #section-3a h3, #section-4a h3 {
      grid-column: span 4;
  }

  #section-3a p, #section-4a p{
    grid-column: 2/4;
  }

  #section-4 p {
    grid-column: 2/3;
  }

  #section-5 p {
    grid-column: 2/4;
    padding: 1em 0 4em 0;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* could do repeat(3, 1fr 2fr); and it would make 3 column containing the 1fr and 2fr*/
  }

  .pictureGrid a {
    justify-self: end;
  }

  #section-6 {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

#section-6 a {
  padding: 2em 0;
  }

  #footer {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
}

@media(min-width: 850px) {

  .researchPicGrid {
    width: 60%;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr;
    grid-column-gap: 1em;
  }

  .section-1and2Grid {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr;
  }

  .pictureGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* could do repeat(3, 1fr 2fr); and it would make 3 column containing the 1fr and 2fr*/
    padding: 0 2em 5em 2em;
  }

  .pictureGrid a {
    justify-self: end;
  }

}

@media(min-width: 1150px) {

  .researchPicGrid {
    width: 70%;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-column-gap: 1em;
  }

  .section-1and2Grid {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }

  .pictureGrid {
    grid-template-columns: repeat(2, 2fr); /* could do repeat(3, 1fr 2fr); and it would make 3 column containing the 1fr and 2fr*/
    padding: 0 2em 5em 2em;
  }

  .pictureGrid a {
    justify-self: end;
  }

}

@media(min-width: 1500px) {

  .researchPicGrid {
    width: 55%;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
  }

  .section-1and2Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}
