body {
  margin:0;
  padding: 0;
  background: white;
  color: #00316b;
  font-size: 1.2em;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
/*font-family: 'Amaranth', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  font-family: 'Passion One', cursive;
  font-family: 'Changa One', cursive;
  font-family: 'Nunito', sans-serif;
  font-family: 'Pontano Sans', sans-serif;
  font-family: 'Bevan', cursive;
  font-family: 'Anton', sans-serif;*/
}
h1 {
  font-family: 'Anton', sans-serif;
  letter-spacing: 10px;
}
h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
  font-size: 1.2em;
}
img:hover {
  transform: scale(1.1);
  transition: .2s;
}
header {
  height: 1080px;
}
nav {
  width: 100%;
  background: #3f89ff;
  position: fixed;
  z-index: 200;
}
ul {
  margin: 0 auto;
  padding: 0;
  display: none;
  text-align: right;
}
ul li {
  list-style: none;
  display: block;
  text-align: center;
  height: 71px;
  line-height: 71px;
  }
ul li a {
  text-decoration: none;
  color: #fff;
  font-size: .9em;
  padding: 30px 20px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
ul li:hover {
  background: #00316b;
  /*background: #e91e63;*/
}
.toggle {
  display: block;
  width: 100%;
  padding: 14px 20px;
  background: #3f89ff;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5em;
}
.fa-bars:hover {
  color: #00316b;
}
.active {
  display: block;
}

/*MOBILE IMAGE OF ME*/
.mobileimgcenter {
  display: grid;
  grid-template-columns: 1fr 180px 1fr;
}
.mobileimg {
  grid-column: 2/3;
  width: 100%;
  border-radius: 50%;
  position: relative;
  top: 90px;
}
.desktopimg {
  display: none;
}

.intro {
  position: absolute;
  text-align: center;
  top: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 320px 1fr;
}
.intro h1{
  font-size: 3em;
  line-height: 1.2em;
  grid-column: 2/3;
}
.intro p {
  grid-column: 2/3;
}

#section-1 {
  background: white;
}

@media(min-width: 768px) {
  header {
  }
  ul {
    display: inline-block;
    float: right;
    padding-right: 155px;
  }
  ul li {
    display: inline-block;
  }
  .toggle {
    display: none;
  }

  .mobileimgcenter {
    display: none;
  }
  .desktopimg {
    display: block;
    min-width: 1920px;
    position: fixed;
    z-index: -100;
    max-width: 100%;
  }

  .intro {
    top: 240px;
    grid-template-columns: 1fr 1fr 400px 200px;
  }
  .intro h1{
    font-size: 3em;
    grid-column: 3/4;
  }
  .intro p {
    grid-column: 3/4;
  }

  #section-1 {
    display: grid;
    grid-template-columns: 1fr 40fr 40fr 1fr;
  }
  .block-container {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    color: #333;
    background: #333;
    overflow: hidden;
  }
  .block-container img {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    opacity: .5;
  }
  .block-container img:hover {
    opacity: 1;
  }
      .sub-block-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        background: #333;
      }
      .sub-block-1 h3 {
        font-size: 1.4em;
        text-align: center;
        color: #3f89ff;
      }
      .sub-block-2 {
        grid-column: 2/3;
        grid-row: 1/2;
        overflow: hidden;
      }
      .sub-block-2 img {
        min-width: 113%;
      }
      .sub-block-3 {
        grid-column: 3/4;
        grid-row: 1/2;
        overflow: hidden;
      }
      .sub-block-3 h3 {
        font-size: 1.4em;
        text-align: center;
        color: #3f89ff;
      }
      .sub-block-4 {
        grid-column: 4/5;
        grid-row: 1/2;
        overflow: hidden;
      }
      .sub-block-4 img {
        min-width: 101%;
      }
      .sub-block-5 {
        grid-column: 1/2;
        grid-row: 2/3;
        overflow: hidden;
      }
      .sub-block-5 img {
        min-width: 113%;
      }
      .sub-block-6 {
        grid-column: 2/3;
        grid-row: 2/3;
        overflow: hidden;
      }
      .sub-block-7 {
        grid-column: 3/4;
        grid-row: 2/3;
        overflow: hidden;
      }
      .sub-block-8 {
        grid-column: 4/5;
        grid-row: 2/3;
        overflow: hidden;
      }
      .sub-block-8 img {
        min-width: 101%;
      }
      .sub-block-9 {
        grid-column: 1/2;
        grid-row: 3/4;
        overflow: hidden;
      }
      .sub-block-10 {
        grid-column: 2/3;
        grid-row: 3/4;
        overflow: hidden;
      }
      .sub-block-11 {
        grid-column: 3/4;
        grid-row: 3/4;
        overflow: hidden;
      }
      .sub-block-12 {
        grid-column: 4/5;
        grid-row: 3/4;
        overflow: hidden;
      }
      .sub-block-13 {
        grid-column: 1/2;
        grid-row: 4/5;
        overflow: hidden;
      }
      .sub-block-14 {
        grid-column: 2/3;
        grid-row: 4/5;
        overflow: hidden;
      }
      .sub-block-15 {
        grid-column: 3/4;
        grid-row: 4/5;
        overflow: hidden;
      }
      .sub-block-16 {
        grid-column: 4/5;
        grid-row: 4/5;
        overflow: hidden;
      }
}
