/* Primary */
/* html {
  background-image: url(../Pictures/starry.png);
  background-repeat:no-repeat;
  background-size: 1920px;
} */

body {
  margin:0;
  font-family: 'Lato', sans-serif;
  background: white;
  color: #6d6d6d;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  justify-content: center;
  display: grid;
}

img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 1em 0;
  font-family: 'Anton', sans-serif;
  font-weight: initial;
  letter-spacing: 2px;
}

p {
  margin: 0;
  padding: 1em 0;
}

a,
a:hover,
a:visited {
  color: white;
}

.btn-outline {
  position: relative;
  top: 230px;
  display: inline-block;
  border: 1px solid #222;
  border-radius: 5px;
  background: #444;
  height: 40px;
}


.btn-outline:hover {
  background: #74236b;
}

.btn {
  width: 190px;
  height: 43px;
  position: relative;
  top: 8px;
  display: inline-block; /* Did not want it to span the screen so we used INLINE-block. We did this si it was overlapping the elements above and blow. */
  text-decoration: none;
  font-size: .9em;
}

.btn:hover {
  color: white;
}

.btn:visited {
  text-decoration: none;
  color: white;
}

.mobileimgcenter {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 8.5em;
}

.mobileimg {
  border-radius: 50%;
  position: relative;
  top: 90px;
}

/* Header */
#header {
  position: relative;
  margin: 0;
  text-align: center;
  position: relative;
  padding-bottom: 6em;
  height: 640px;
}

.desktopimg {
  display: none;
}

#header h1 {
  position: relative;
  top: 140px;
  padding: 0 1em;
  color: #444;/*#6e211a*/
  font-weight: 400;
  font-family: 'Anton', sans-serif;
}

.header_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5em;
}
.header_wrap div {
  grid-column: 2/3;
}

#section-2 .content-wrap,
#section-3 .content-wrap {
  padding: 0 1.2em;
}

.content-wrap div {
  margin-bottom: 1em;
}




/* Case Studies */
#section-1 {
  background: white;
  padding: 2em;
}
/* Case Study fade-in/out
.cs1, .cs2 {
  opacity: 0;
  transition: opacity 3s;
} */
.csbtn {
  padding: 4em 3em 1em 3em;
}
.csbtn a{
  border: 1px solid #111;
  padding: 1em 3em;
  color: #111;
  text-decoration: none;
  border-radius: 5px;
}
.csbtn a:hover{
  background: #111;
  color: #999;
}

.cs1, .cs2 {
  padding-top: 3em;
}
.cs1 img, .cs2 img {
  transition: .2s;
}
.cs1 img:hover, .cs2 img:hover {
  transform: scale(1.1);
  transition: .2s;
}
.cs1info, .cs2info {
  border-bottom: 1px solid #555;
}
.cs1info h3 {
  color: #fd3600;
}
.cs2info h3 {
  color: #1baa9b;
}


/* Art work */
#section-2 {
  padding: 7em 0;
  background: white; /* #97d7b5; */
}
#section-2 h2 {
  color: #666;
}

.art-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  opacity: 0;
  transition: opacity 3s;
  grid-column-gap: .5em;
  grid-row-gap: .5em;
}
.art-grid img {
  transition: .2s;
  box-sizing: border-box;
  border: 8px solid white;
  box-shadow: -2px 3.5px 20px 1px #a5a5a5;
}
.art-grid img:hover {
  box-shadow: -2px 3.5px 60px 4px #a5a5a5;
  transform: scale(1.1);
  transition: .2s;
}

.artbtn {
  padding-top: 6.1em;
}

.artbutton {
  padding: 1em 3em;
}

.artbtn a{
  border: 1px solid #666;
  padding: 1em 3em;
  color: #666;
  text-decoration: none;
  border-radius: 5px;
}

.artbtn a:hover{
  background: #111;
  color: #999;
}

#section-2 p {
  transition: opacity 4s;
  padding: 4em 0;
}

/* Who am I?! */
#section-3 {
  padding: 5em 2em;
  background: white;
}

/* Section 4 / BOXES CONTACT AND FAMILY*/
#section-4 .box {
  padding: 2em;
}

#section-4 .box:first-child {
  background: white;
  color: #222222;
}

#section-4 .box:last-child {
  background: #222222;
  color: #bfbfbf;
}

.button {
  background: white;
  color: #222222;
  border: 1px solid #555;
}

.contactbtn {
  padding: 2em;
}

.contactbtn a{
  background: white;
  color: #222222;
  padding: 1em 3em;
  text-decoration: none;
  border-radius: 5px;
}

.contactbtn a:hover{
  background: #222;
  color: white;
}

.family {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  grid-column-gap: 1em;
}

.family img {
  width: 100%;
  border-radius: 50%;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 4;
  padding-top: 1em;
  grid-column-gap: .5em;
}

/* Footer */
#footer {
  padding: 2em;
  background: #111111;
  color: #bfbfbf;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: #e29207;
}

/* MEDIA QUERY */
@media(min-width: 600px) {

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  #header {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr;
    height: 1080px;
  }

  #header h1 {
    grid-column: 3/4;
    position: relative;
    top: 30px;
  }

  #header img {
    height: 120%;
    width: auto;
    position: fixed;
    z-index: -200;
    display: block;
    border-radius: 0;
  }

  .mobileimg {
    display: none;
  }

  .header_wrap {
    grid-column: 3/4;
    grid-template-columns: 1fr 1fr 1fr;
    height: 140px;
    position: relative;
    top: -380px;
  }

  .btn-outline {
    top: 110px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 38em)) 1fr; /* Can use %, em's, px's, fr's */
  }

  .art-grid {
    grid-template-columns: 1fr 1fr 1fr; /* Can use %, em's, px's, fr's */
  }

  .content-wrap {
    display: block;
  }

  #section-1 {
    grid-template-rows: .5fr 1fr .5fr .5fr;
    grid-gap: 1em;
  }
  #section-1 h2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .cs1 {
    grid-column: 2/3;
    grid-row: 2/3
  }
  .cs2 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .cs1info {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    padding: 0;
    border-bottom: 0px solid white;
  }
  .cs2info {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
    padding: 0;
    border-bottom: 0px solid white;
  }

/*  #section-1 ul {
    display: flex; /* Aligns the cards on the same row, like floating them all left or like inline-block
    justify-content: space-around;
    padding: 3.5em 0;
  } */

  #section-1 li {
    width: 40%;
  }

  #section-1 p {
    padding: .1em 1em;
    letter-spacing: -.03em;
  }

  .card:hover {
    border-radius: 10px;
  }

  .csbtn {
    grid-column: 2/4;
  }

  #section-1 ul li:hover {
    border: 3px solid white;
  }

  .sideNav {
    position: fixed;
    top: -10000px;
    background: #222;
    width: 100%;
    transition: height 1s;
    z-index: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sideNav a {
    color: #999;
    position: relative;
    justify-content;
    z-index: 500;
    text-decoration: none;
    transition: 1s;
    font-family: 'Anton', sans-serif;
  }

  .sideNav a:visited{
    color: #999;
    z-index: 500;
  }

  #section-3 {
    padding: 5em 1em;
  }

  #section-3 h2 {
    padding: 1em 0 4em 0;
  }

  #section-3 .content-text {
    columns: 2;
    column-gap: 3em;
    text-align: left;
  }
  #section-3 .content-text p {
    padding-top: 0;
  }

  .content-wrap, #section-1 ul {
    grid-column: 2/4;
  }

  #section-4 {
    padding-top: 2em;
  }

  #section-4 div {
    padding: .5em;
  }

  #section-4, #section-4 p {
    padding-bottom: 2em;
  }

  #footer div, .box {
    grid-column: span 2;
  }
}

@media(min-width: 750px) {

  #header {
    grid-template-columns: 1fr 8fr 8fr 1fr;
  }

  #header h1 {
    grid-column: 3/4;
    top: 100px;
  }

  #header img {
    width: auto;
    position: fixed;
    z-index: -200;
    display: block;
  }

  .header_wrap {
    grid-column: 3/4;
    top: -200px;
  }

  .btn-outline {
    top: 0;
  }

  #section-2 p {
    padding: 3em 1em;
  }
}



@media(min-width: 1050px) {

  #header {
    grid-template-columns: 1fr 8fr 8fr 1fr;
  }

  #header h1 {
    grid-column: 3/4;
    top: 200px;
  }

  #header h1 {
    grid-column: 3/4;
  }

  .header_wrap {
    grid-template-columns: 190px 190px 190px;
    justify-content: center;
    top: -200px;
  }

  .header_wrap .one {
    grid-column: 1/2;
  }
  .header_wrap .two {
    grid-column: 2/3;
  }
  .header_wrap .three {
    grid-column: 3/4;
  }

  #section-1 {
    padding: 5em 0;
    grid-gap: 2.5em;
    grid-template-rows: 1fr 4fr 4fr 1fr;
  }

  #section-1 h2 {
    grid-column: 2/4;
  }

  .cs1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .cs2 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .cs1info {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-top: 2.5em;
    padding-right: 5em;
    border-bottom: 0px solid white;
  }
  .cs2info {
    grid-column: 2/3;
    padding-top: 2.5em;
    padding-left: 5em;
    border-bottom: 0px solid white;
  }
  .cs1info p, .cs2info p {
    text-align: left;
  }

  #section-4 p {
    padding-bottom: 4em;
  }
}

@media(min-width: 1300px) {

  #header h1 {
    top: 200px;
  }

  .header_wrap {
    top: -200px;
  }

  .family {
    grid-column-gap: 5em;
  }

  .members {
    grid-column-gap: 5.2em;
  }

}

@media(min-width: 1600px) {

  #header {
    grid-template-columns: 1fr 4fr 4fr 1fr;
  }

  #header h1 {
    grid-column: 3/4;
    top: 200px;
  }

  .header_wrap {
    top: -200px;
  }

  .family {
    grid-column-gap: 7em;
  }

  .members {
    grid-column-gap: 7.2em;
  }

}
