/* Primary */
/* html {
  background-image: url(../Pictures/starry.png);
  background-repeat:no-repeat;
  background-size: 1920px;
} */

body {
  margin:0;
  font-family: 'Lato', sans-serif;
  background: #181818;
  color: #6d6d6d;
  font-size: .9em;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
}

img {
  display: block; /* This displays it across the width of the whole screen*/
  width: 100%; /* of it's container. ATM which is the div tag w/id of card*/
  height: auto;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 1em 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: initial;
  letter-spacing: 2px;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn-outline {
  position: relative;
  top: 220px;
  display: inline-block;
  border: 1px solid white;
  -webkit-transition: width 1s, margin 2s, border 2s, border-radius 1s, background 1.5s, color 1s, top 4s;
}

.btn-outline:hover {
  background: #74236b;
}

.btn {
  width: 190px;
  height: 40px;
  position: relative;
  top: 8px;
  display: inline-block; /* Did not want it to span the screen so we used INLINE-block. We did this si it was overlapping the elements above and blow. */
  color: 222222;
  text-decoration: none;
  -webkit-transition: width 1s, margin 2s, border 2s, border-radius 1s, background 1.5s, color 1s, top 4s;
}

.btn:hover {
  color: white;
  width: 280px;
}

.btn:visited {
  text-decoration: none;
  color: white;
}

/* Header */
#header {
  margin: 0;
  min-height: 675px;
  text-align: center;
  position: relative;
  border-bottom: 2px solid #999999;
}

div.background-image{
  position: fixed; /* Because we want it to go over the header div above */
  background-image: url(../Pictures/starry.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* You will not see anything until you disclose it's size*/
  min-height: 675px; /* We want it to the the height of it's parent element of 450px. But I believe this will auto do that*/
  z-index: -200;
  height: 1080px;
}

#header h1 {
  position: relative;
  top: 200px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;/*#6e211a*/
  font-weight: 400;
  font-family: 'Poiret One', cursive;
}

#header .content-wrap,
#section-2 .content-wrap,
#section-3 .content-wrap {
  padding: 0 1.2em;
}

/* Case Studies */
#section-1 {
  background: #181818;
  padding: 2em;
}

#section-1 ul {
  list-style: none;
  margin: 0;
  padding:0;
}

#section-1 ul li {
  background: #e1e1e1;
  margin-bottom: 1em;
  color: #222222;
  border-radius: 10px 10px 10px 10px;
  border: 3px solid #e1e1e1;
}


/* Case Study fade-in/out */
.CS-appear {
  opacity: 0;
  transition: opacity 7s;
}

.card img {
  border-radius: 10px 10px 0 0
}

.card_content {
  padding-bottom: 1em;
}

/* Art work */
#section-2 {
  padding: 7em 0;
  background: #111111;
}

.art-grid {
  opacity: 0;
  transition: opacity 7s;
}

#section-2 p {
  transition: opacity 4s;
  padding: 4em 0;
}

#section-2 img{
  padding: .5em 0;
}

/* Who am I?! */
#section-3 {
  padding: 5em 2em;
  background: #f1f1f1;
}

/* Section 4 / BOXES CONTACT AND FAMILY*/
#section-4 .box {
  padding: 2em;
}

#section-4 .box:first-child {
  background: #a9e1c6;
  color: #222222;
}

#section-4 .box:last-child {
  background: #222222;
  color: #bfbfbf;
}

/* Footer */
#footer {
  padding: 2em;
  background: #111111;
  color: #bfbfbf;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: #e29207;
}

/* MEDIA QUERY */
@media(min-width: 750px) {

  main, footer {
    /* margin: 0 10% 0 10%; */
  }
  /*header .background-image{
    margin: 0 10% 10%;
    max-width: 80%;
    height: 100%;
    left: 0;
  }*/

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  #header {
    height: 1080px;
  }

  div.background-image {
    height: 1080px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr; /* Can use %, em's, px's, fr's */
  }

  .art-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Can use %, em's, px's, fr's */
  }

  #section-1 {
    padding: 5em 0;
  }

  #section-1 h2 {
    grid-column: 2/4;
  }

  #section-1 ul {
    display: flex; /* Aligns the cards on the same row, like floating them all left or like inline-block */
    justify-content: space-around;
    padding: 3.5em 0;
  }

  #section-1 li {
    width: 40%;
  }

  #section-1 p {
    padding: .1em 1em;
    letter-spacing: -.03em;
  }

  .card:hover {
    border-radius: 10px;
  }

  #section-1 ul li:hover {
    border: 3px solid white;
  }

  .sideNav {
    position: fixed;
    top: 0;
    background: #111111;
    width: 100%;
    transition: height .7s;
    z-index: 500;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .sideNav a {
    position: relative;
    justify-content;
    z-index: 500;
    text-decoration: none;
  }

  .sideNav a:visited{
    color: white;
    z-index: 500;
  }

  #section-2 a{
    padding: .5em;
  }

  #section-3 {
    padding: 5em 1em;
  }

  #section-3 h2 {
    padding: 1em 0 4em 0;
  }

  #section-3 .content-wrap {
    padding: 1.5em 0em 2em 0em;
  }

  #section-3 .content-text {
    columns: 2;
    column-gap: 3em;
    text-align: left;
  }
  #section-3 .content-text p {
    padding-top: 0;
  }

  .content-wrap, #section-1 ul {
    grid-column: 2/4;
  }

  #section-4, #section-4 p {
    padding: 3em 0;
  }

  #footer div, .box {
    grid-column: span 2;
  }
}
